:root
{
    --couleur-fond: #F8ECD1;
    --couleur-joueur-actif: #AC7D88;
    --couleur-joueur-inactif: #DEB6AB;
    --couleur-cases:white;
}

*
{
	margin: 0;
	padding: 0;
	font-size: 16px;
}

html
{
	background-color: var(--couleur-fond);
}


header
{
    margin-bottom: 30px;
}

h1
{
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    text-align: center;
    padding: 38px 0;
    color: #85586F;
}

div#page
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

section#grille
{
    display: flex;
    flex-direction: row;
}

section.joueur1, section.joueur2
{
    background-color: var(--couleur-joueur-inactif);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Pacifico', cursive;
    border-radius: 10px;
}

section.joueur1
{
    background-color: var(--couleur-joueur-actif);
}

input[type="text"]
{
    margin: 10px;
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #85586F;
}

input[type="radio"]
{
    display: none;
}

label
{
    font-size: 40px;
    cursor: pointer;
}

input[type="radio"]:checked+label
{ 
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
}


div#score1, div#score2
{
    font-size: 40px;
    text-align: center;
    color: white;
}

section#grille div
{
    display: flex;
    flex-direction: column;
}

section#grille div div
{
    background-color: var(--couleur-cases);
    width: 150px;
    height: 90px;
    border-radius: 10px;
    font-size: 90px;
    line-height: 90px;
    text-align: center;
    padding: 30px 0;
    margin: 3px;
    font-family: 'Pacifico', cursive;
}

div#popup
{
    display: none;
    /*a remettre en none*/
    flex-direction: column;
    position: absolute;
	top: 50px;
	right: 50px;
	bottom: 50px;
	left: 50px;
	background-color: rgba(133, 88, 111, 0.7);
	justify-content: center;
	align-items: center;
    font-family: 'Pacifico', cursive;
}

div#popup p.texte
{
    font-size: 60px;
    margin: 40px;
    color: white;
}

div#popup p.bouton
{
    background-color: white;
    border-radius: 20px;
    color: #85586F;
    text-align: center;
    padding: 3px 30px 15px 30px;
    font-size: 40px;
    cursor: pointer;
}